## Variable

In [1]:
name = "Vasim"

In [2]:
age = 20

In [3]:
x = 10
y = 20

In [4]:
samdani = "Samdani with small s"
Samdani = "Samdani with cap s"

In [5]:
# print = "print" # don't use such keywords

### Data types
1. Integer 
2. Floating point (fractional)
3. Boolean
4. String

## Primitive data types

In [6]:
# integer 
x = 10
y = 20


# floating point
kg = 1.5
height = 50.5 

# string 
charminar = "Charminar"

# boolean 
a = True 
b = False

In [7]:
# integer 
x = 10
y = 20

In [9]:
print(10+20)

30

In [11]:
print(x+y)
print(x*y)
print(x-y)
print(x/y)

30
200
-10
0.5

In [12]:
print("Vasim")

Vasim

In [13]:
print(name)

Vasim

In [14]:
type(x)

int

In [15]:
kg = 50.5

In [19]:
type(kg)

float

## Type casting

In [24]:
int_kg = int(kg)

In [17]:
type(charminar)

str

In [20]:
a = True 
type(a)

bool

In [25]:
address = "55"
street = 55

In [26]:
print(street+street)

110

In [27]:
print(address+address)

5555

In [28]:
print(int(address)+int(address))

110

## Practice

In [29]:
student = "Moosa"
address = "Talab katta"

In [30]:
print("My name is "+student+" and I live in "+address)

My name is Moosa and I live in Talab katta

In [31]:
print("My name is Moosa and I live in Talab katta")

My name is Moosa and I live in Talab katta

In [32]:
print("My name is ",student," and I live in ",address)

My name is  Moosa  and I live in  Talab katta

# print your age with variable

In [33]:
myage = 24 
print("My age is ",myage)

My age is  24

##### My age is  24

## Input function

In [36]:
myage = input("Enter your age: ")
myage

'22'

In [37]:
student_name = input("Enter your name: ")
print("Student name is ", student_name)

Student name is  azhar

In [38]:
print("twinkle")

print("""
    twin
    """)

twinkle

    twin

Twinkle twinkle little star.
How I wonder what you are.
Up above the world so high.
Like a diamond in the sky.

# 1. Addition of a variable using input function

In [40]:
z = input("Enter z value: ")
print(int(z)+int(z))

20

# 1010

# 2. Write student details(name, age, course, school, address) using input functions